<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
  </head>
  <body>
    <div class="warningText">
      <h1>CAUTION DELETING USER</h1>
    </div>
    <form class="deleteWarning" action="/auth/deleteUser" method="GET">
      <label for="toDeletePage">CAUTION: ACCOUNT DELETION AHEAD.</label>
      <br />
      <label for="toDeletePage">ACCOUNT DELETION IS PERMANENT!!!</label>
      <br />
      <input class="warnButton" type="submit" value="ACCOUNT DELETION THIS WAY" alt="this way to account deletion"/>
    </form>
    <div class="warningText">
      <h1>CAUTION DELETING USER</h1>
    </div>
  </body>
</html>


