<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FaveNews</title>
    </head>
    <body>
        <h1>WORK IN PROGRESS</h1>
        <%= JSON.stringify(favorites.favoritesListNews) %>

        <form action="">
            <label for="searchText">Search the SpaceFlightNews API</label>
            <input type="text">
            <input type="submit">
        </form>


        
</body>
</html>