<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceX Tracker Homepage</title>
</head>
<body>
    <div class="bodyNews">
        <h1>NEWS SECTION</h1>
        <!-- forEach: !!!
        news
        headline
        info
        content
        link -->
    </div>
    <div class="sideNav">
        SIDEBAR NAV
        <!-- <div>linkToFavoritesPage</div>
        forEach: !!!
        Title/Link
        Thumbnail
        News Brief -->
    </div>
    <div class="newsFooter">
        <div><img src="http://www.placekitten.com/150/150" alt="News Footer Image"></div>
        <div><img src="http://www.placekitten.com/150/150" alt="News Footer Image"></div>
        <div><img src="http://www.placekitten.com/150/150" alt="News Footer Image"></div>
    </div>
    <div class="sidebarFooter">
        SIDEBAR FOOTER
        <!-- !!! -->
    </div>
    
</body>
</html>