<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>SpaceX Tracker</title>
</head>
<body>
    <header>
        <nav class="navHeader">
            <% if (currentUser) { %>
                <!-- !!! SETTINGS -->
                <a href="/auth/logout">Logout</a>
                <a href="/profile">Profile</a>
                <a href="/">Home</a>
            <% } else { %>
                <a href="/auth/register">Register</a>
                <a href="/auth/login">Login</a>
                <a href="/">Home</a>
            <% } %>
            <!-- !!!
            TITLE
            ABOUT -->
        </nav>
    </header>
    <div class="sideNav">
        <h2>NAVIGATE</h2>
        <a href="/">Home</a>
        <br><br>
        <a href="/faveNews">Fave News</a>
        <br><br>
        <a href="/faveImage">Fave Images</a>
        <br><br>
        <a href="/faveSpaceX">Fave SpaceX</a>
        <br><br>
        <a href="/manageFaves">View / Manage Faves</a>
        <br><br>
        <a href="/upcoming">Upcoming Launches</a>
        <br><br>
        <a href="/latest">Latest Launches</a>
        <br><br>
        <a href="/profile">View/Edit Profile</a>
      </div>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>