<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
  </head>
  <body>
 
    <%=JSON.stringify(newsResult[1].date_published)%>

    <ul>
        <% newsResult.forEach(function(news) { %>
            <li><%= JSON.stringify(news.tags) %> herp
            </li>
        <% }); %>
    </ul>
    
  </body>
</html>
